* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #d8d8d8;
    /* fallback for old browsers */
    /* background: linear-gradient(to left, #0068ef00, #4c77af);
    background: linear-gradient(to left, #0068ef00, #4c77af);
    background: linear-gradient(to left, #0068ef00, #4c77af);
    background: linear-gradient(to left, #0068ef00, #4c77af); */
    /* font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

h1 {
    font-size: 3em;
    text-align: center;
}

header {
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 3%;
    background-color: #123562;
    padding-top: 1%;
    padding-bottom: 2%;
}

form {
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, #0068ef00, #bababa);
    max-width: 730px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    background-color: #a4a4a4;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.valider:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.5);
}

.valider {
    background-color: black;
    cursor: pointer;
    width: 30%;
    height: 2em;
    padding-bottom: 6%;
    color: white;
    /* border-radius: 25px; */
}


/* button:hover {
    color: green;
    transform: scale(1.5);
} */

button:hover {
    background-color: #00ff3c;
    transform: scale(1.5);
}

button {
    background-color: black;
    cursor: pointer;
    width: 16%;
    height: 2em;
    /* padding-bottom: 6%; */
    color: white;
    border-radius: 10px;
}

input {
    margin-bottom: 2%;
    border-radius: 25px;
    height: 1.5em;

}

.un {
    text-align: center;
    margin-top: -77px;
    padding-top: 70px;
}

.logo {
    height: 130%;
    width: 8.4%;
}