* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* body {
    background: #d8d8d8;
    /* fallback for old browsers */
    /* background: linear-gradient(to left, #0068ef00, #4c77af);
    background: linear-gradient(to left, #0068ef00, #4c77af);
    background: linear-gradient(to left, #0068ef00, #4c77af);
    background: linear-gradient(to left, #0068ef00, #4c77af); */
    /* font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
*/

h1 {
    font-size: 3em;
    text-align: center;
}

header {
    text-align: end;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    word-spacing: 3%;
    background-color: #123562;
    padding-top: 1%;
    padding-bottom: 2%;
}

table {
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, #0068ef00, #bababa);
    /* max-width: 360px; */
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 25px;
}

.logo {
    height: 130%;
    width: 8.4%;
}

/* .numero {
    margin-right: -35%
} */


/* p {
    margin-left: 15%;
} */

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.un {
    text-align: center;
    margin-top: -77px;
    padding-top: 70px;
}

button {
    width: 100px;
    background-color: rgb(243 243 243);
    cursor: pointer;
    /* border-radius: 12%; */
    color: linear-gradient(to left, #0068ef00, #4c77af);
}

#insta {
    width: 40%;
    font-size: 8em;
}

#phone {
    width: 40%;
    font-size: 8em;
    /* margin-left: 30%; */
}

#mail {
    width: 40%;
    font-size: 8em;
}

#logout {
    color: rgb(0, 0, 0);
    padding-right: 2%;
}

.info {
    position: relative;
    z-index: 1;
    background: linear-gradient(to bottom, #0068ef00, #bababa);
    /* max-width: 360px; */
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 25px;

}


/* p {
    display: flex;
    align-items: flex-end;
} */


/* html {
    height: 100%;
    width: 100%;
    background-color: #a9a9a9;
}

html,
header,
body,
footer {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0 38 115);
    height: 70px;
    margin-top: 0;
    padding-top: 15px;
    text-align: right;
    padding-right: 150px;
    line-height: 50px;
}

.footer {
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
    background-color: white;
    color: #00135a;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: rgba(0, 0, 0, 0.034);
    color: rgb(255, 255, 255);
}

.background1 {
    width: auto;
    height: auto;
    background-color: #a9a9a9;
    padding-top: 100px;
    padding-bottom: 100px;
}

.background2 {
    width: 700px;
    height: auto;
    background-color: #d3d3d3;
    margin: auto;
    padding-bottom: 150px;
    padding-top: 150px;
}

.tdcontact {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.map {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 10%;
}

.imgcont {
    width: 50%;
} */

/* @media(max-width:1440px) {
    input[type="text"],
    input[type="submit"] {
        width: 94%;
    }
}

@media(max-width:1366px) {
    h1,
    header {
        font-size: 2.6em;
    }
    .trois {
        padding: 2.5em;
    }
    .deux {
        margin: 2em auto;
        width: 36%;
    }
}

@media(max-width:1280px) {
    .deux {
        width: 40%;
    }
}

@media(max-width:1080px) {
    .deux {
        width: 46%;
    }
}

@media(max-width:1024px) {
    .deux {
        width: 49%;
    }
}

@media(max-width:991px) {
    h1,
    header {
        font-size: 2.4em;
    }
    .un {
        padding: 2em 0 1em;
    }
}

@media(max-width:900px) {
    .deux {
        width: 58%;
    }
    input[type="text"],
    input[type="submit"] {
        width: 93%;
    }
}

@media(max-width:800px) {
    h1,
    header {
        font-size: 2.2em;
    }
}

@media(max-width:736px) {
    .deux {
        width: 62%;
    }
}

@media(max-width:667px) {
    .deux {
        width: 67%;
    }
}

@media(max-width:600px) {
    .trois {
        padding: 2.2em;
    }
    h1,
    header {
        font-size: 2em;
        letter-spacing: 3px;
    }
}

@media(max-width:568px) {
    .deux {
        width: 75%;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 1.8em;
        letter-spacing: 3px;
        width: 50%s;
    }
    .trois {
        padding: 1.8em;
    }
    .trois {
        font-size: 0.9em;
    }
} */